function tarClean
{
      # Cleanup function
      rm *.tar*

}
function aptUpdate
{
  clear
  echo -e "Refreshing Repo List"
  read -p "Press a key to continue "
  sudo apt update
  echo "Repos Refreshed"
}

function aptUpgrade
{
  aptUpdate

  clear
  echo "Upgrading (with a prompt to the user)"
  read -p "Press a key to continue "

  sudo apt upgrade
  read -p
}


function addPPA
{
  sudo apt-add-repository -y $1

}

function stripFileInfo
{
    #This is in Testing mode

  # get a URL from the theme function
  url=$1

  url2=${url}


  clear
  # Display Test for the full URl
  echo -e "\n\nFull URL is:\t $url2"

  filename=${url2##*/}

  # Display Test for Total file Extension
  echo -e "\nTotal Filename is:\t $filename"

  extonly=${filename#*.}

  # Strip Numbers
  extnonum=`echo "$extonly" | sed 's/[0-9]*//g' `

  # Strip Periods
  extfinal=`echo "$extnonum" | sed 's/\.//g' `

  ## Display Test for final output
  echo -e "Final Extention for test loop:\t $extfinal"

}
#########################################
function extractAll
{

    if [ "${extfinal}" == 'targz' ]; then
         tar -zxvf  $1
    elif [ "${extfinal}" == 'tar' ]; then
         tar -xvf $1
    elif [ "${extfinal}" == 'tgz' ]; then
         distro=Opensuse
    elif [ "${extfinal}" == 'tarxz' ]; then
        echo "Get code for this tarxz archive type"

    ## Double Check the ext on this one
    elif [ "${extfinal}" == 'tarbz' ]; then
       tar -xJf $1

    else
       echo "Debugging hello message"
    fi


    ## If tar + bzip =

}



function quitScript
{
    clear
    echo "Goodbye"
    exit
}

function invalidSection
{
    echo "invalid selection "
        sleep 2s
        x=1
}
