function tarClean
{
      # Cleanup function
      rm *.tar*

}
function aptUpdate
{
  clear
  echo -e "Refreshing Repo List"
  read -p "Press a key to continue "
  sudo apt update
  echo "Repos Refreshed"
}

function aptUpgrade
{
  aptUpdate

  clear
  echo "Upgrading (with a prompt to the user)"
  read -p "Press a key to continue "

  sudo apt upgrade
  read -p
}


function addPPA
{
  sudo apt-add-repository -y $1

}

function stripFileInfo
{
    #This is in Testing mode

  # get a URL from the theme function
  url=$1

  url2=${url}


  clear
  # Display Test for the full URl
  echo -e "\n\nFull URL is:\t $url2"

  filename=${url2##*/}

  # Display Test for Total file Extension
  echo -e "\nTotal Filename is:\t $filename"

  extonly=${filename#*.}

  # Strip Numbers
  extnonum=`echo "$extonly" | sed 's/[0-9]*//g' `

  # Strip Periods
  extfinal=`echo "$extnonum" | sed 's/\.//g' `

  ## Display Test for final output
  echo -e "Final Extention for test loop:\t $extfinal"

}


function extractTarGZ
{

   echo "Variable passed is $1 "
   tar -zxvf  $1
   read -p "Debugging Pause"
}

function extractTar
{
    tar -xvf $1

    ## Future IDEA - put all tar related extraction in here and do a loop detecting the file extension
}

function extractTarBZ
{
echo "Variable passed is $1 "
    tar -xJf $1
    read -p "Debugging Pause"

}

function quitScript
{
    clear
    echo "Goodbye"
    exit
}

function invalidSection
{
    echo "invalid selection "
        sleep 2s
        x=1
}
