#File to contain scripts of individual themes or icon packs
## Submenus can come later

function numixThemes
{
    clear
    echo "Numix Theme function ran"

    if [ "${distro}" == "arch" ]; then
        packageName=numix-themes

     elif [ "${distro}" == "fedora" ]; then
        packageName=numix-gtk-theme

    elif [ "${distro}" == "opensuse" ]; then
        echo -e "No Numix theme in default repos"

    elif [ "${distro}" == "ubuntu" ]; then

      ## Adds Numix PPA
      clear
      echo -e "Adding Numix PPA "
      addPPA "ppa:numix/ppa"

      # Function call to update Repo Database
      aptUpdate

      # Assigns packageName Variable
      packageName=numix-gtk-theme

    else
      echo -e "Tarball download and installs coming soon"

    fi

    // Sends the info to the universalInstall function to install
    universalInstall "$packageName"


}



 function numixGnomeLook
{
    # Source: https://www.gnome-look.org/p/1137261/
    ## For GTK 3.22 and up

    Numix22Theme=Numix322Theme.tar.xz

        mkdir $Numix22Theme
        cd $Numix22Theme

        wget -O $Numix22Theme https://dl.opendesktop.org/api/files/download/id/1478217589/Numix-Pack_0.4.2.tar.xz

        extractTarBZ $Numix22Theme

        cd ..


    ## For GTK 3.20 and below
    NumixOldTheme=NumixOlderTheme.tar.gz

          mkdir $NumixOldTheme
          cd $NumixOldTheme

          wget -O $NumixOldTheme https://dl.opendesktop.org/api/files/download/id/1472518050/Numix-Pack_0.3.7.tar.gz

          # extractTarGZ $NumixOlderTheme

          cd ..

    tarClean
}
