#File to contain scripts of individual themes or icon packs
## Submenus can come later

function numixThemes
{
    echo "Numix Theme function ran"

    if [[ $distro = arch ]]
    then
        sudo pacman -S numix-themes

     elif [[ $distro = fedora ]]
     then
        sudo dnf install numix-gtk-theme

    elif [[ $distro = opensuse ]]
    then
        echo "No Numix theme in default repos"

    elif [[ $distro = Ubuntu ]]
    then

        ## Adds Numix PPA
        clear
        sudo add-apt-repository -y ppa:numix/ppa

        # Function call to update Repo Database
        updateAptRepos

        # Assigns packageName Variable
        packageName= numix-gtk-theme

        # sends Package
        Install_Apt packageName

    else
      echo "Tarball download and installs coming soon"

    fi

}

function numixIcon
{
   echo "Numix Icon function ran"

   if [[ $distro = arch ]]
   then
     echo "Add Lines to add AUR and Numix ICONS here"

    elif [[ $distro = fedora ]]
    then
        sudo dnf install numix-icon-theme numix-icon-theme-circle

    elif [[ $distro = opensuse ]]
    then
       echo "Add Lines to add Numix to OpenSuse Here"

    elif [[ $distro = Ubuntu ]]
    then

        sudo add-apt-repository -y ppa:numix/ppa

        # Function call to update Repo Database
        updateAptRepos

        # Assigns packageName Variable
        packageName1= numix-icon-theme
        packageName2= numix-icon-theme-circle

        # Call function to install
        Install_Apt

      else
         echo "Tarball download and installs coming soon"

fi

}
