I## Note: $gitTICFolder is for Themes, Icons, or Cursor Folder ... this should be very customized repo to repo  

function gitClone
{
    # $1 is the .git URL

    ## Uses regular expressions and replaces everything to the left if the last /, with ... nothing (aka removing it)
    ## Result: foobar.git
    gitRepoNameTrimmed=${1/*\//}

    # Result: foobar
    gitRepoName=${gitRepoNameTrimmed} | sed 's/.git*.$//g'

    #git clone the repo
    git clone $1

}

##############################################################################




## Consolidating all modern/worth keeping Manjaro theming into one file

function VertexTheme
{
    giturl=https://github.com/manjaro/vertex-manjaro.git
    gitRepoTitle="Vertex-Manjaro"
    gitTICFolder="Vertex-Maia*"

    echo "Installing The $gitRepoTitle Theme"

    # Clone Git Repo 
    gitClone $giturl

    # cd $gitRepoName
    
    mv $gitTICFolder $themeHome




    #cd ..
    #rm -rf $gitRepoName

    cleanLeftover

    debugPause
}


## is this the exact same thing as the one above?  o_O
function MaiaGTKTheme
{
    giturl=https://github.com/manjaro/artwork-maia-gtk.git
    gitRepoTitle="Maia GTK"
    gitTICFolder="Maia-gtk/"

    echo "Installing the Theme"

    # Clone Git Repo 
    gitClone $giturl


    #cd $gitRepoName





    mv $gitTICFolder $themeHome
    cd ..
    rm -rf $gitRepoName

    mkdir ~/Pictures/ManjaroWallpapers
    mv /wallpapers/ ~/.pictures/ManjaroWallpapers

    # cd ..
    #rm -rf artwork-numix-manjaro-themes

    cleanLeftover

    debugPause
}


function vertexManjaroTheme
{
    giturl=https://github.com/manjaro/vertex-manjaro.git
    gitRepoTitle="Manjaro Vertex"
    gitTICFolder="Vertex-Maia*"

    ## Issue same destination as "Vertex Maia theme, 2 above
    echo "Installing The $gitRepoTitle Theme"


    # Clone Git Repo 
    gitClone $giturl

    # cd $gitRepoName

    mv $gitTICFolder $themeHome







    #cd ..
    #rm -rf vertex-manjaro
    cleanLeftover

    debugPause
}




#######################################################
### Icon Specific
#######################################################

# https://github.com/manjaro/menda-icon-themes.git



function VertexMaiaIcon
{
   
    giturl=https://github.com/manjaro/vertex-maia-icon-themes.git
    gitRepoTitle="Vertex Maia Icon"

    echo "Installing Manjaro's $gitRepoTitle Theme "

    # Clone Git Repo 
    gitClone $giturl

    # cd $gitRepoName





    mv Vertex-Maia/ ~/.icons


    #cd ..
    #rm -rf vertex-maia-icon-themes

    cleanLeftover
}

## This is the same as above ...
function vertex-maia-icon-themes
{
   
    giturl=https://github.com/manjaro/artwork-vertex-maia.git
    gitRepoTitle="Vertex Maia"


    echo "Installing the Vertex Maia theme "

    # Clone Git Repo 
    gitClone $giturl

    # cd $gitRepoName






    mv Vertex-Maia* ~/.themes

    #cd ..
    #rm -rf artwork-vertex-maia

    cleanLeftover

}

#######################################################
### Cursor Specific
#######################################################

function maiaCursor
{
    # This has an issue ... Maia-Cursor apparently isn't a directory
    

    giturl= https://github.com/manjaro/maia-cursor.git
    gitRepoTitle="Maia Cursor"

    echo "Installing the $gitRepoTitle Theme"

    # Clone Git Repo 
    gitClone $giturl

    # cd $gitRepoName




    mv Maia-Cursor ~/.icons
    cd ..
    rm -rf Maia-Cursor
    clear
}

function MaiaCursor
{
    gitRepoTitle="Maia Cursors"


    # This has an issue ... Maia-Cursor apparently isn't a directory
    echo "Installing the Maia Cursor Theme"


    # Clone Git Repo 
    gitClone $giturl







    #cd Maia-Cursor

    mv Maia-Cursor ~/.icons

    cd ..
    #rm -rf Maia-Cursor
    cleanLeftover

    clear
}
