## These may look like repeats but these are parts of (or ENTIRE functions) that I do not want to delete; however, I dont want to use as they always seem broken in my tests and are due to lack of updates and massive GTK changes since they were last updated.

## The reason I do not want to remove these is in case Manjaro does updates to make these relevant again ...i can just copy and paste these functions back

function ManjaroNumixRebornTheme
{
  echo "Installing Components of Manjaro's Numix Reborn Theme"
  git clone https://github.com/manjaro/artwork-numix-reborn-manjaro-themes.git
  cd artwork-numix-manjaro-themes-master

      mkdir ~/.theme/Numix-Reborn
      mv Numix-Reborn ~/.themes

}

function ManjaroNumixTheme
{
echo "Installing Manjaro's Numix Theme"
    git clone https://github.com/manjaro/artwork-numix-manjaro-themes.git
    cd artwork-numix-manjaro-themes
    mv Numix-Manjaro ~/.themes
    cd ..
    rm -rf artwork-numix-manjaro-themes
}

function GreenBirdTheme
{
echo "Installing GreenBird Theme"
    git clone https://github.com/manjaro/artwork-greenbird.git
    cd artwork-greenbird
    mkdir ~/.themes/GreenBird
    mv * ~/.themes/GreenBird
    cd ..
    rm -rf artwork-greenbird
}

function oldMendaManjaroTheme
{
  echo "Installing the Menda Themes"
      git clone https://github.com/manjaro/artwork-menda.git
      cd artwork-menda
      mv Menda* ~/.themes
      cd ..
      rm -rf artwork-menda
}

function numixManjaroTheme
{
    echo "Installing Group of Manjaro Themes "
    giturl=https://github.com/manjaro/artwork-numix-manjaro-themes.git

    gitDL $giturl

    cd artwork-numix-manjaro-themes/

    mv Numix-Manjaro* ~/.themes

    #cd ..
    #rm -rf artwork-numix-manjaro-themes

    cleanLeftover
}
function numixRebornTheme
{
    echo "Installing Components of Manjaro's Numix Reborn Theme"
    giturl=https://github.com/manjaro/artwork-numix-reborn-manjaro-themes.git

    gitDL $giturl

    #cd artwork-numix-manjaro-themes

}
